snippet #! "Shebang"
#!${1:/bin/sh}
endsnippet

snippet < "Angular brackets" i
<${1:${VISUAL}}>$0
endsnippet

snippet | "Straight brackets" i
|${1:${VISUAL}}|$0
endsnippet

snippet / "Slash brackets" i
/${1:${VISUAL}}/$0
endsnippet
