snippet sfun "Self executing function"
var ${1:Object} = (function() {
	var s = {};

	var obj = {};

	obj.init = function() {
		$0
	}

	return obj;
})();
endsnippet

snippet fun "Function" i
function ${1:functionName}($2) {
	$3
}$0
endsnippet

snippet for "For"
for (${1:i = 0}; ${2:i < 10}; ${3:i++}) {
	$4
}$0
endsnippet
