priority 1

snippet {} "Object"
{
	${1:${VISUAL}}
}$0
endsnippet

snippet v{} "Variable object"
"$1": {
	${2:${VISUAL}}
}$0
endsnippet

snippet [] "List"
[
	${1:${VISUAL}}
]$0
endsnippet

snippet v[] "Variable list"
"$1": [
	${2:${VISUAL}}
]$0
endsnippet

snippet v "Variable"
"$1": $0
endsnippet

snippet v"" "Variable string"
"$1": "$2"$0
endsnippet
