priority 1

snippet ``` "Code block"
\`\`\`$1
${VISUAL}$2
\`\`\`$0
endsnippet

snippet [ "Link" i
[${1:${VISUAL}}]${2:($3)}$0
endsnippet

snippet ! "Image"
![${1:${VISUAL}}]${2:($3)}$0
endsnippet

snippet : "Link ref"
[$1]: ${VISUAL}
endsnippet
