priority 1

snippet ``` "Code block"
\`\`\`$1
${VISUAL}$0
\`\`\`
endsnippet

snippet ![( "Image expanded"
![$1]($0)
endsnippet

snippet ![[ "Image compact"
![$1][$0]
endsnippet

snippet [: "Link ref"
[$1]: $0
endsnippet
