priority 1

snippet ``` "Code block"
\`\`\`$1
${VISUAL}$2
\`\`\`$0
endsnippet

snippet []() "Link expanded" i
[${VISUAL}$1]($2)$0
endsnippet

snippet [][] "Link compact" i
[${VISUAL}$1][$2]$0
endsnippet

snippet ![]() "Image expanded"
![${VISUAL}$1]($2)$0
endsnippet

snippet ![][] "Image compact"
![${VISUAL}$1][$2]$0
endsnippet

snippet []: "Link ref"
[${VISUAL}$1]: $0
endsnippet
