priority 1

snippet {{ "Variable" i
{{ $1 }}$0
endsnippet

snippet {{{ "Raw variable" i
{{{ $1 }}}$0
endsnippet

snippet {{# "Section" i
{{# $1 }}
	${VISUAL}$2
{{/ $1 }}$0
endsnippet

snippet {{^ "Inverted section"
{{^ $1 }}
	${VISUAL}$2
{{/ $1 }}$0
endsnippet

snippet {{> "Partial" i
{{> $1 }}$0
endsnippet

snippet {{! "Comment start"
{{! ${VISUAL}$0
endsnippet

snippet !}} "Comment"
{{! ${VISUAL}$1 }}$0
endsnippet
