priority 1

snippet { "Variable" i
{{ $0 }}
endsnippet

snippet [ "Raw variable" i
{{{ $0 }}}
endsnippet

snippet # "Section" i
{{# $1 }}$0{{/ $1 }}
endsnippet

snippet #v "Visual section" i
{{# $1 }}
	${VISUAL}
{{/ $1 }}
endsnippet

snippet ^ "Inverted section"
{{^ $1 }}$0{{/ $1 }}
endsnippet

snippet > "Partial" i
{{> $0 }}
endsnippet

snippet ! "Comment tag"
{{! ${VISUAL}
endsnippet

snippet !} "Comment"
{{! ${VISUAL} }}
endsnippet
