snippet class "Class"
class ${1:ClassName}(${2:object}):
	${3:pass}
endsnippet

snippet def "Function"
def ${1:function_name}(${2:self}${3}):
	${4:pass}
endsnippet

snippet """ "Docstring"
"""
${1}
"""
endsnippet

