priority 1

snippet match "Match expression" i
match ${1:comparison} {
	${2:${VISUAL:arms}}
}
endsnippet

snippet => "Match arm" i
${1:condition} => ${2:result}
endsnippet

snippet loop "Loop expression" i
loop {
	${1:${VISUAL:body}}
}
endsnippet

snippet fn "Function"
${1:pub }fn ${2:name}(${3:params}) {
	${4:${VISUAL:body}}
}
endsnippet
