priority 1

snippet [ "Attribute" i
[${1:${VISUAL}}]$0
endsnippet

snippet { "Block"
{
	${1:${VISUAL}}
}$0
endsnippet

snippet ( "Map"
(
	${1:${VISUAL}}
)$0
endsnippet

snippet inc "Include"
@include $1
endsnippet

snippet imp "Import"
@import '$1';$0
endsnippet

snippet fun "Function"
@function ${1:function}($2) {
	@return ${3:0}
}$0
endsnippet

snippet mix "Mixin"
@mixin ${1:mixin} {
	${2:// TODO}
}$0
endsnippet

snippet # "Interpolation"
#{${1:${VISUAL}}}$0
endsnippet
