priority 1

snippet if "If"
if ${1:condition}
	${2:" TODO}
endif$0
endsnippet

snippet elif "Else if"
else if ${1:condition}
	${2:" TODO}
endsnippet

snippet else "Else"
else
	${1:" TODO}
endsnippet

snippet function "Function"
function! ${1:function}($2)
	${3:" TODO}
endfunction$0
endsnippet
